<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel ="tests" name="Suite">
	
	<listeners>
		<listener class-name= "ATBAutomation.TestComponents.Listeners"/>
		</listeners>
		
  <test thread-count="2" name="Stand Alone Test">
	  
    <classes>
      <class name="ATBAutomation.TestCases.StandAloneTest"/>

     
    </classes> 
    
  </test> <!-- Test -->
	
</suite> <!-- Suite -->
